header, footer {
    background-color: #6a7d84;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 0 2%;
}
.slide {
    animation: 1s ease-out 0s 1 slideInLeft;
    padding: 40px;
}
@keyframes slideInLeft {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(0)
}
}

    .movein-animation {
        animation-name: slideInLeft;
        animation-duration: 1s;
    }

.contactLink {
    
    display: inline-block;
    color: #007bff;
    position: relative;
}
a:hover {
    text-decoration: none !important;
    color: black;
}
.contactLink::after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%; 
    position: absolute;
    transform: scaleX(0);
    background-color: rgb(216, 165, 47);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.contactLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}
.picofme{
    border-radius: 3px;
    margin: 20px 0;
    height: 500px;
    border: 1px solid white;
}
.body {
    background-color:rgb(85, 82, 82);
}
.poke {
    background-image: url("poke.jpg");
    background-size: cover;

}
.paint {
    background-image: url("paint.jpg");
    background-size: cover;

}
.xceed {
    background-image: url("xceed.jpg");
    background-size: cover;
}
.links {
    height: 250px;
    width:300px;
    text-align: center;
    color: gray;
}
.card {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 60%;
    margin: 20px auto;
}
.card-body {
    width: 50%;
}
.widthchange {
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    background-color: #49586e;
}
.pictures {
    background-color:rgb(85, 82, 82);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 700px;
}
.metext {
    font-size: 24px;
    color: black;
    padding: 15px;
}
.alignicons{
    display: flex;
    align-items: center;
}

i {
    height: 20px;
    padding: 5px;
}
.name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding: 5px;
}
body {
    color: rgb(75, 73, 73);
    background-color: #edede9;
    margin: 0;
    padding: 0;
}
.videobio {
    width: 100%;
}
iframe {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.iframes {
    display: flex;
    flex-direction: row;
}
.myframes {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}
.mySites {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.experience{
    background-color:#cbcfd3;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
}
h1 {
    font-family:sans-serif;
}
.sitesh1 {
    background-color: #fba608;
    border-radius: 10px;
    padding: 15px;
    width: 77%;
    margin: 5px auto;
    color: black;
}
ul {
    list-style-type: none;
}
.ulwidth {
    margin: 0 auto;
    width: 77%;
    background-color: white;
}
 .contacth1 {
   padding-left: 50px;
} 
li {
    padding: 10px;
    font-size: 20px;
    font-family:sans-serif;
}
.linklist {
    display: flex;
}
a {
    color: white;
    text-decoration: none;
}
form {
    color: white;
    background-color: rgb(106, 101, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width:700px;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    
}
.textarea {
    border-radius: 5px;
    width: 60%;
    margin: 5px auto;
    height: 100px;
}
.input {
    height: 24px;
    border-radius: 5px;
    width: 60%;
    margin: 5px auto;
}
label {
    margin: 0 auto;
}
.submit {
    border-radius: 5px;
    margin: 5px auto;
    background-color: #007bff;
    width: fit-content;
    height: 40px;
    color: white;
}
.submit:hover {
cursor: pointer;
background-color: #1770d0;
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.rowcontianer {
    display: flex;
    margin: 0 auto;
}
.skinnycontainer {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.skinnyUl {
    left:-2\50;
}
@keyframes fadeIn {
    0% {opacity:0}
    100% {opacity:1}
}

.fadingtext {
    animation: fadeIn 1s;
}
.contactMeSentence {
    font-size: 24px;
    background-color: #ca6702;
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
}
.carousel {
    width: 600px;
    height: 600px;
}
.height {
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.videoContainer {
    display: flex;
    justify-self: center;
    height: 700px;
    background-color: rgb(49, 46, 46);
}
.vidDimensions {
    
    height: 500px;
}
.margin {
    margin: 20px auto;
}
@media only screen and (max-width:600px){
.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.sitesh1 {
    width: 500px;
}
form {
    width: 100%;
    margin: 0;
}
iframe {
    width: 100%;
   }
header {
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.card {
    width: 100%;
}
.links{
    width: 70%;
}
}
@media only screen and (max-width:900px){
   iframe {
    width: 95%;
   }
}
.leftorange {
    border-left: 5px solid orange;
}
.links {
    color: rgb(29, 29, 98);
    margin-left: 50px;
}
.wrapper {
    display: flex;
    align-items: center;
}
.navlinks {
    margin: 50px;
    color: white;
}
.navlinks:hover {
    color: black;
}