 footer {
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 0 2%;
}

.slide {
    animation: 1s ease-out 0s 1 slideInLeft;
    padding: 40px;
}
@keyframes slideInLeft {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(0)
}
}

    .movein-animation {
        animation-name: slideInLeft;
        animation-duration: 1s;
    }

.contactLink {
    
    display: inline-block;
    color: #007bff;
    position: relative;
}
.newContactLink {
    color:black;
    display: inline-block;
    position: relative;
}
.newContactLink::after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%; 
    position: absolute;
    transform: scaleX(0);
    background-color: rgb(109, 50, 227);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a:hover {
    text-decoration: none !important;
    color: black;
    cursor:pointer;
}
.contactLink::after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%; 
    position: absolute;
    transform: scaleX(0);
    background-color: rgb(216, 165, 47);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.newContactLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}
.contactLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}
.picofme{
    border-radius: 3px;
    margin: 20px 0;
    height: 500px;
    border: 1px solid white;
}
.body {
    background-color:rgb(85, 82, 82);
}
.poke {
    background-image: url("poke.png");
    background-size: cover;

}
.paint {
    background-image: url("paint.png");
    background-size: cover;

}
.projectImages {
    display:flex;
}
.xceed {
    background-image: url("xceed.png");
    background-size: cover;
}
.links {
    height: 250px;
    width:300px;
    text-align: center;
    color: gray;
    margin: 20px;
    text-transform: none;
    transition: transform 1s;
}
.links:hover {
    transform: rotateY(0deg) rotate(5deg) scale(1.10);
}
.flexCard {
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin: 20px auto;
    justify-content: space-between;
    padding: 15px !important;
    font-weight:100;
}
.card:hover {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.461);
}
.cardWidth {
    width:66%;
}

.smallImg {
    width: 200px;
    height: 150px;
    transition: all .2s ease-in-out
}

.smallImg:hover {
    transform: scale(1.1);
    border:1px solid black;
}
.card-body {
    width: 400px;
}
.widthchange {
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    background-color: #49586e;
}

.twolists {
    display: flex;
    justify-content: center;
}
.pictures {
    background-color:rgb(85, 82, 82);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 700px;
}
.metext {
    font-size: 24px;
    color: black;
    padding: 15px;
}
.alignicons{
    display: flex;
    align-items: center;
}

/* i {
    height: 20px;
    padding: 5px;
} */
.customButtons {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: linear-gradient(to left, rgba(0,0,0,0) 50%,rgb(141, 130, 234) 50%) right;
     */
    background: linear-gradient(to left, rgba(0,0,0,0) 50%,white 50%) right;

    background-size: 200%;
    transition: .5s ease-out;
    margin-bottom: 20px;
}
.customButtonsblue {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: linear-gradient(to left, rgba(0,0,0,0) 50%,rgb(201, 101, 40) 50%) right; */
    background: linear-gradient(to left, rgba(0,0,0,0) 50%,white 50%) right;

    background-size: 200%;
    transition: .5s ease-out;
    margin-bottom: 20px;

}
.customButtonsblue:hover {
    cursor: pointer;
    box-shadow: 2px 6px;
    background-position: left;
}
.customButtons:hover {
    cursor: pointer;
    box-shadow: 2px 6px;
    background-position: left;
    
}
.name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding: 5px;
}
body {
    color: rgb(75, 73, 73);
    background-color: #edede9;
    margin: 0;
    padding: 0;
}
.videobio {
    margin-top: 7%;
    width: 700px;
    height: 450px;
}
.flex {
    display:flex;
    width: calc(100% + 0.4rem);
}
.blueflex {
    height:577px;

}
.actualTopImage {
    width:50%;
    object-fit: cover;
}
.hidden {
    display: none;
}
.block {
    display: block;
    text-transform: none;
    letter-spacing: normal;
}
/* .topImage {
    display:flex;
    align-items: end;
    justify-content: center;
    background-color: white;
    background-image: url('imageBground.jpg');
    width:50%;
    background-size: cover;
    height:600px;
} */
.yellowSec {
    background-color: #fcf283f2;
    width:100%;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    width: calc(100% + 0.4rem);
    font-size: 0.875em;
    line-height: 1.125;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whiteSec {
    background-color: #f7f7f7f5;
    width:100%;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    width: calc(100% + 0.4rem);
    font-size: 0.875em;
    line-height: 1.125;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.whiteSec a {
    color:black;
    padding:15px;
}
.marginbottom {
    margin-bottom: 50px;
}
.biggerList {
    font-size:24px;
    margin:0;
    padding:0;
}
.svgParent {
    display:flex;
    align-items: center;
}
.svgSize {
    height: 25px;
    padding: 5px 8px 5px 5px;
}
.listParent {
    display:flex;
    flex-direction: column;
    align-items: start;
    height:500px;
    overflow:scroll;
}
.css {
    font-weight: 100;
    font-style:normal ;
}
.realBig {
    text-transform: uppercase;
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 5.25em;
    line-height: 1.125;
    font-weight: 800;
    width:fit-content;
    margin:0 auto;
}
iframe {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.iframes {
    display: flex;
    flex-direction: row;
}
.myframes {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}
.mySites {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.experience{
    background-color:white;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
}
h1 {
    font-family:sans-serif;
}
.sitesh1 {
    background-color: #fba608;
    border-radius: 10px;
    padding: 15px;
    width: 77%;
    margin: 5px auto;
    color: black;
}
ul {
    list-style-type: none;
}
.ulwidth {
    width: 90%;
    background-color: white;
    padding:0;
}
 .contacth1 {
   padding-left: 50px;
} 
li {
    padding: 10px;
    font-size: 20px;
    font-family:sans-serif;
}
.linklist {
    display: flex;
}
a {
    color: white;
    text-decoration: none;
}
form {
    color: white;
    background-color: rgb(106, 101, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width:700px;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    
}
.textarea {
    border-radius: 5px;
    width: 60%;
    margin: 5px auto;
    height: 100px;
}
.input {
    height: 24px;
    border-radius: 5px;
    width: 60%;
    margin: 5px auto;
}
label {
    margin: 0 auto;
}
.submit {
    border-radius: 5px;
    margin: 5px auto;
    background-color: #007bff;
    width: fit-content;
    height: 40px;
    color: white;
    border:1px solid black;
}
.submit:hover {
cursor: pointer;
transform:scale(1.1);
color:black;
border:1px solid white;
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.rowcontianer {
    display: flex;
    margin: 0 auto;
}
.skinnycontainer {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.backgroundimage {
    background-image: url('pexels-joão-jesus-925706.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-color: rgb(237, 232, 232);
    height: 500px;
    position:relative;
    margin-top: 100px;
}
.topMePic {
    height: 750px;
    margin:0;
    position: absolute;
    bottom:-108px;
}
.skinnyUl {
    left:-2\50;
}
@keyframes fadeIn {
    0% {opacity:0}
    100% {opacity:1}
}

.fadingtext {
    animation: fadeIn 1s;
    display: block;
    text-transform: none;
    letter-spacing: normal;
    padding:0 10px;
    font-size:18px;
    font-weight: 300;
}
.contactMeSentence {
    font-size: 24px;
    background-color: #ca6702;
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
}
.carousel {
    width: 600px;
    height: 600px;
}
.height {
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.videoContainer {
    display: flex;
    justify-self: center;
    height: 700px;
    background-color: rgb(49, 46, 46);
}
.vidDimensions {
    
    height: 500px;
}
.margin {
    margin: 20px auto;
}
@media only screen and (max-width: 500px){
    .metext {
        font-size: 14px;
    }
    .experience {
        margin: 0 auto;
    }
}
@media only screen and (max-width:1395px){
    /* .card {
        width: 100%;
    } */
}

@media only screen and (max-width:600px){
.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.sitesh1 {
    width: 500px;
}
form {
    width: 100%;
    margin-bottom: 100px;
}
iframe {
    width: 100%;
   }
header {
    width: fit-content;
    display: flex;
    flex-direction: row;
}
/* .card {
    width: 100%;
} */
.links {
    width: 70%;
}
.experience {
    margin: 100px auto 0 auto;
}
}
@media only screen and (max-width:1200px){
   .metext {
    position: absolute;
    right: 10px;
    left: 250px;
   }
   .pictures {
    flex-direction: column;
    height: fit-content;
    align-items: center;
   }
   .card {
    /* width:75%; */
    margin-right:50px;
}
}
@media only screen and (max-width: 1000px){
    .card {
        /* width:70%; */
        margin-right:0;
    }
}
@media only screen and (max-width: 1000px){
    .smallImg {
        width: 100px;
        height: auto;
    }
    .smallDiv {
        display: flex;
        justify-content: center;
    }
    .links {
        margin: 0 auto;
    }

}
@media only screen and (max-width: 900px){
    .metext {
        top: 100px;
        right: 10px;
        left: 10px;
    }
    .h1s {
        font-size: 30px;
        padding: 0 20px;
    }
   
}
@media only screen and (max-width: 750px){
    .card {
        flex-direction: column;
        width: 100%;
    }
    .card-body {
        margin: 0 auto;
    }
    .metext {
        background-color: rgba(255, 255, 255, 0.666);
    }
    .backgroundimage {
        margin-bottom: 200px;
    }
    .h1s {
        font-size: 18px;
    }
    .main {
        align-items: flex-start;
        width: fit-content;
    }
    .carousel {
        width: inherit;
    }
    .videobio {
        padding-top: 20px;
        width: inherit;
    }
}
.leftorange {
    border-left: 5px solid orange;
}
/* .links {
    color: rgb(29, 29, 98);
    margin-left: 50px;
} */
.wrapper {
    display: flex;
    align-items: center;
}
.aboutMeText {
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.25;
    width: 70%;
    margin:0 auto;
    font-size:18px;
    padding:10px;
    font-weight: 200;
    text-align: center;
}
.AboutMe {
    width:100%;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    width: calc(100% + 0.4rem);
    font-size: 0.875em;
    line-height: 1.125;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}
.myEducation {
    width:100%;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    width: calc(100% + 0.4rem);
    font-size: 0.875em;
    line-height: 1.125;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    padding:20px;
}
.blueSec {
    background-color: #7dfdfbf6;
    width:50%;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    width: calc(100% + 0.4rem);
    font-size: 0.875em;
    line-height: 1.125;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:577px;
    padding:22px 0;
}
.spaceme {
    margin: 20px;
}
.halfh1 {
    width:70%;
    text-align: center;
}
.wrapAll {
    background-image: url("geo.jpg");
    background-repeat: repeat-x repeat-y;
    width:100%;
    height:auto;
}
.navlinks {
    margin: 50px;
    color: white;
}
.navlinks:hover {
    color: black;
}
@media only screen and (max-width: 450px){
footer {
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.movein-wrapper2 h1{
  font-size: 16px;
  margin: 0;
  padding-left: 0;
}
.twolists li{
    font-size: 14px;
}
}